<%- include("../partials/head.ejs") %> 
    <%- include("../partials/nav.ejs") %> 
        <h1>Titulo</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZYfgbAXzKDwqtyURFdjpB8WJWLe8-kTwTGw&usqp=CAU" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sint ullam, commodi animi enim amet quod illum quibusdam, eveniet minima aperiam dolore ab repudiandae. Aspernatur laboriosam officia ab earum nam?</p>
<%- include("../partials/footer.ejs") %> 
